.layoutContainer {
  padding: 0px 140px;
  position: relative;
  min-height: 80vh;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .layoutContainer {
    padding: 0px 80px;
  }
}
