.container {
    padding: 80px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 223, 208);
}

.child {
    min-width: 75%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 0;
}

h2 {
    font-size: 48px;
    font-weight: normal;
    line-height: 0;
}

p {
    font-size: 24px;
}

.background {
    color: rgb(20, 20, 51);
    background-color: rgb(238, 161, 110);
}