.container {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../../Assests/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.child {
    align-self: center;
    min-width: 75%;
}

h2 {
    align-self: center;
    color: rgb(34, 33, 33);
    font-size: 32px;
}