body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #05a0e7;
}

h2 {
  font-size: 24px;
  line-height: 1.4;
}

p {
  font-size: 18px;
  line-height: 1.7;
}

@media screen and (max-width: 1050px) {
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 950px) {
  p {
    font-size: 20px;
    line-height: 1.7;
  }
}

@media screen and (max-width: 650px) {
  p {
    font-size: 16px;
    line-height: 1.5;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
